{%- for about in collections.about -%}
<div class="about">
    <h2 class="h2-header">{{ about.data.title }}</h2>
    <article class="content">{{about.templateContent | safe }}</article>
</div>
{% endfor %}