<div class="join">
<h3>Ready to join?</h3>
<article class="content"><p>Add your email below to request an invite to the We Evolve Slack channel</p></article>
</div>
{# Unsure if the "How to Join" section is up to date on the design. 
One draft shows this section and another draft doesn't #}

{# <h2>How to join the We Evolve community</h2>
<div>
{% markdown %}
  {%- include "../../content/how_to_join.md" -%}
{% endmarkdown %}
</div> #}