<div>Ready to join?</div>
<div>Add your email below to request an invite to the We Evolve Slack channel</div>

<p>Have questions? Let us Know!</p>

<h2>How to join the We Evolve community</h2>
<div>
{% markdown %}
  {%- include "../../content/how_to_join.md" -%}
{% endmarkdown %}
</div>