body {
    color: grey;
}

.h2-header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-template-areas:
        "header"
        "content";
}